{% extends 'home.html' %}

{% block content %}
  <div id="content_container"></div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script type="text/javascript">
    var projects = {{ projects|tojson }};
    var employees = {{ employees|tojson }};
    var selectedProject = {};
  </script>

  <script src="{{ url_for('static', filename='js/monkey.js') }}"></script>
  <script src="{{ url_for('static', filename='js/ajax_dao.js') }}"></script>
  <script src="{{ url_for('static', filename='js/project_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/assignment_panel.js') }}"></script>

  <script type="text/javascript" charset="utf-8">

    webix.ready(function() {

      webix.ui({
        container: "content_container",
        type: "space",
        cols: [
            projectPanel, assignmentPanel
        ]
      });

      projectPanelCtlr.init();
      assignmentPanelCtlr.initForProject();

    });

  </script>
{% endblock %}
